In [3]:
import chess 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
data = pd.read_csv('C:/Users/dkyou/Documents/GitHub/DDa_RL/games.csv')

In [7]:
data.info

<bound method DataFrame.info of              id  rated    created_at  last_move_at  turns victory_status  \
0      TZJHLljE  False  1.504210e+12  1.504210e+12     13      outoftime
1      l1NXvwaE   True  1.504130e+12  1.504130e+12     16         resign
2      mIICvQHh   True  1.504130e+12  1.504130e+12     61           mate
3      kWKvrqYL   True  1.504110e+12  1.504110e+12     61           mate
4      9tXo1AUZ   True  1.504030e+12  1.504030e+12     95           mate
...         ...    ...           ...           ...    ...            ...
20053  EfqH7VVH   True  1.499791e+12  1.499791e+12     24         resign
20054  WSJDhbPl   True  1.499698e+12  1.499699e+12     82           mate
20055  yrAas0Kj   True  1.499698e+12  1.499698e+12     35           mate
20056  b0v4tRyF   True  1.499696e+12  1.499697e+12    109         resign
20057  N8G2JHGG   True  1.499643e+12  1.499644e+12     78           mate

      winner increment_code       white_id  white_rating            black_id  \
0      white           15+2       bourgris          1500                a-00
1      black           5+10           a-00          1322           skinnerua
2      white           5+10         ischia          1496                a-00
3      white           20+0  daniamurashov          1439        adivanov2009
4      white           30+3      nik221107          1523        adivanov2009
...      ...            ...            ...           ...                 ...
20053  white          10+10        belcolt          1691            jamboger
20054  black           10+0       jamboger          1233  farrukhasomiddinov
20055  white           10+0       jamboger          1219        schaaksmurf3
20056  white           10+0   marcodisogno          1360            jamboger
20057  black           10+0       jamboger          1235               ffbob

       black_rating                                              moves  \
0              1191  d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...
1              1261  d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...
2              1500  e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...
3              1454  d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...
4              1469  e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...
...             ...                                                ...
20053          1220  d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...
20054          1196  d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...
20055          1286  d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...
20056          1227  e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...
20057          1339  d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...

      opening_eco                            opening_name  opening_ply
0             D10        Slav Defense: Exchange Variation            5
1             B00  Nimzowitsch Defense: Kennedy Variation            4
2             C20   King's Pawn Game: Leonardis Variation            3
3             D02  Queen's Pawn Game: Zukertort Variation            3
4             C41                        Philidor Defense            5
...           ...                                     ...          ...
20053         A80                           Dutch Defense            2
20054         A41                            Queen's Pawn            2
20055         D00         Queen's Pawn Game: Mason Attack            3
20056         B07                            Pirc Defense            4
20057         D00         Queen's Pawn Game: Mason Attack            3

[20058 rows x 16 columns]>

In [12]:
data['opening_name']

0              Slav Defense: Exchange Variation
1        Nimzowitsch Defense: Kennedy Variation
2         King's Pawn Game: Leonardis Variation
3        Queen's Pawn Game: Zukertort Variation
4                              Philidor Defense
                          ...
20053                             Dutch Defense
20054                              Queen's Pawn
20055           Queen's Pawn Game: Mason Attack
20056                              Pirc Defense
20057           Queen's Pawn Game: Mason Attack
Name: opening_name, Length: 20058, dtype: object

In [16]:
data.groupby(['opening_name']).count()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_ply
opening_name,,,,,,,,,,,,,,,
Alekhine Defense,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46
Alekhine Defense #2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Alekhine Defense #3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Alekhine Defense: Balogh Variation,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Alekhine Defense: Brooklyn Variation,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zukertort Opening: Slav Invitation,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
Zukertort Opening: Tennison Gambit,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42
Zukertort Opening: The Walrus,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Zukertort Opening: Vos Gambit,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Zukertort Opening: Wade Defense,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [19]:
data.describe()

,created_at,last_move_at,turns,white_rating,black_rating,opening_ply
count,2.005800e+04,2.005800e+04,20058.000000,20058.000000,20058.000000,20058.000000
mean,1.483617e+12,1.483618e+12,60.465999,1596.631868,1588.831987,4.816981
std,2.850151e+10,2.850140e+10,33.570585,291.253376,291.036126,2.797152
min,1.376772e+12,1.376772e+12,1.000000,784.000000,789.000000,1.000000
25%,1.477548e+12,1.477548e+12,37.000000,1398.000000,1391.000000,3.000000
50%,1.496010e+12,1.496010e+12,55.000000,1567.000000,1562.000000,4.000000
75%,1.503170e+12,1.503170e+12,79.000000,1793.000000,1784.000000,6.000000
max,1.504493e+12,1.504494e+12,349.000000,2700.000000,2723.000000,28.000000